*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
footer{
    margin: 0  ;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, a{
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    height: 80vh;

background-image: url('../img/carrito/carrito.jpg');
border: .35rem solid black;
   
}
a{
    text-decoration: none;
}

.detalle, .precio, .cantidad, .subtotal{
    text-align: start;
}
.precio{
    text-align: start;
}
.contenedor{

  
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: .5rem;
    border-radius: 1rem;
    margin-top: 2%;
    background-color: #242222;
    color: white;
}
.contenedor:hover{
    background-color: rgba(14, 91, 14, 0.745);
}



img{
    width: 7vw;
    border-radius:1rem ;
}


.acciones{
   display: flex;
   justify-content: space-between;
   padding: 20px;
}
.total{
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    margin-right: 6%;
    text-align: center;
    align-items: center;
    background-color: green;
    border-radius: .3rem;
}


   .btn{
        margin-right: 5px;
    }



.basura {
    background-color:transparent;
    border: none;
    text-align: center;
    margin-top: 2%;
    padding-right: 0%; 
     
}
button{
    background-color: transparent;
    border: none;
    color: white;
}
button:hover{
    color: red;
 
}
h3{
    font-size: 80%;
}

@media(max-width:637px){
    .contenedor{
    width: 100%;
    }
   
    p{font-size: 70%;}
    .acciones{
        display: block;
        margin-left: 20%;
        
    }
    .izquierda .derecha{margin-top: 10%;}
    .derecha{ padding-top: 5%;}
    .total{
        padding-right: 2%;
    }
    main{
        width: 100%;
        margin-left: 0;
    
       
}

}