body {
 
    background-position: center;

    background-image: url(../img/contacto/fondo404.jpg);
}

h1{

  font-size: 39px;
  margin-bottom: .10em;
    color: #FFFFFF;
    text-align: center;
     padding-bottom: 20px; 
    
}
h2{

   
    margin-bottom: .10em;
    color: #FFFFFF;
    text-align: center;
     padding-bottom: 20px; 
}

h3{

    color: #FFFFFF ;
    font-size: 35px; 
    padding-bottom: 30px;
}


p{
    color: #FFFFFF ;
    font-size: 14px; }


.contact_form{  
    width: auto; 
  height: auto;
  margin: 1px auto;
    border-radius: 10px;  
    padding-top: 100px;
    padding-bottom: 20px;  
  background-color: #FFFFFF; 
  padding-left: 10px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.input-form{
    background-color: #FFFFFF; 
    max-width: 408px;
    min-width: 358px;
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: gray;
    margin-top: 10px;  
    padding-left: 10px;
  margin-bottom: 20px; 
  box-shadow: 2px 2px 4px #376da3;
  transition: all 0.5s;
}
.input-form:hover {
  border-color: #0dcaf0; 
    transform: scale(1.050);
}

.textarea-form{
  background-color: #fbfbfb; 
    width: 358px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: gray;
    margin-top: 10px;  
    padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
  box-shadow: 2px 2px 4px #376da3;
  transition: all 0.5s;
}

.textarea-form:hover {
  border-color: #0dcaf0; 
    transform: scale(1.050);
}


label{
  display: block; 
    float: center;  
}


.button-form{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;     
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
 
    border-color: gray; 
    border-style: solid; 
    border-radius: 10px;    
    max-width: 420px;
    min-width: 358px;
  cursor: pointer;
  box-shadow: 2px 2px 4px #376da3;
  transition: all 0.5s;
}
.button-form:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 10px 20px 30px, rgba(0, 0, 0, 0.3) 10px 1px 53px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
  transform: scale(1.050);
}



::-webkit-input-placeholder {
  color: #a8a8a8;
}


::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.content-iframe{
  position: relative;
  padding-bottom: 40%;
  margin-left: 10%;
  padding-top: 15px;
  height: 0;
  overflow: hidden;
}
.content-iframe iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
}
.formulario-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}